In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

#Очистка данных

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/pupils_ruma456_2019_2020.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,1,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
data = data[data['Отметка'] != ' ']

In [ ]:
data[['Балл']] = data[['Балл']].apply(pd.to_numeric)##количественные 

data[['Класс', 'Код_предмета', 'Код_ученика', 'Отметка', 'Year']] = data[['Класс', 'Код_предмета', 'Код_ученика', 'Отметка', 'Year']].astype(str)#качественные

In [ ]:
data.head()

  Класс Код_предмета      ЛогинОО Код_ученика  Балл Отметка  Year
0     4            2  sch01110001        4001    11       4  2019
1     4            2  sch01110001        4002    18       5  2019
2     4            2  sch01110001        4003     9       3  2019
3     4            2  sch01110001        4004    11       4  2019
4     4            2  sch01110001        4005     8       3  2019

In [ ]:
data['ЛогинОО'].value_counts()

sch72120397    4666
sch23133988    4630
sch23133985    4544
sch72123046    4171
sch72123048    3395
               ...
sch03136025       1
sch05153509       1
sch66163320       1
sch55156133       1
sch70103089       1
Name: ЛогинОО, Length: 39391, dtype: int64

In [ ]:
data[data['Класс'] == 'Класс'].head()

Empty DataFrame
Columns: [Класс, Код_предмета, ЛогинОО, Код_ученика, Балл, Отметка, Year]
Index: []

In [ ]:
data['Балл'].value_counts()

11    559992
14    554918
12    532355
7     510728
13    504913
       ...
0       1547
43      1152
44       770
45       331
           3
Name: Балл, Length: 93, dtype: int64

In [ ]:
data['Отметка'].value_counts()

4    4212508
3    3470886
5    2090689
2    1200287
0     246976
Name: Отметка, dtype: int64

In [ ]:
data['Код_ученика'].unique()

array([4001, 4002, 4003, ..., 50788, 50794, 50795], dtype=object)

In [ ]:
data[data['Отметка'] == '0'].head(10000)

        Класс Код_предмета      ЛогинОО Код_ученика  Балл Отметка  Year
1549526     5            2  sch01110062        5001     8       0  2019
1549527     5            2  sch01110062        5002    17       0  2019
1549528     5            2  sch01110062        5003    12       0  2019
1549529     5            2  sch01110062        5004     7       0  2019
1549530     5            2  sch01110062        5005    11       0  2019
...       ...          ...          ...         ...   ...     ...   ...
1691631     5            2  sch11113206        5060     9       0  2019
1691632     5            2  sch11113206        5061     7       0  2019
1691633     5            2  sch11113206        5062    14       0  2019
1691634     5            2  sch11113206        5063     7       0  2019
1691635     5            2  sch11113206        5064     7       0  2019

[10000 rows x 7 columns]

In [ ]:
data['Отметка'].unique()

array(['4', '5', '3', '2', '0'], dtype=object)

In [ ]:
data[data['Отметка'] == "4"].describe()
#describe - описательный анализ
#статистика по людям которые получили 4
#mean - среднее значение атрибута (21)

               Балл
count  4.212508e+06
mean   2.130000e+01
std    9.405378e+00
min    8.000000e+00
25%    1.200000e+01
50%    2.400000e+01
75%    3.000000e+01
max    3.800000e+01

In [ ]:
data[data['Отметка'] == "3"].describe()
'''count - кол-во записей по 
mean - среднее значение атрибута (15)
std - корень дисперсии выборки (можно сравнить разброс выборки чем больше тем больше разброс чем меньше тем ближе к ср знач)
min - самое мал значение баллов
50%- медиана
25%
75% квартили
max - максимум
мы проверили что на данный момент нельзя сделать однозначное отображение балла в оценку
'''

'count - кол-во записей по \nmean - среднее значение атрибута (15)\nstd - корень дисперсии выборки (можно сравнить разброс выборки чем больше тем больше разброс чем меньше тем ближе к ср знач)\nmin - самое мал значение баллов\n50%- медиана\n25%\n75% квартили\nmax - максимум\nмы проверили что на данный момент нельзя сделать однозначное отображение балла в оценку\n'

In [ ]:
data[(data['Отметка'] == "4") & (data['Код_предмета'] == "2") ].describe()

               Балл
count  2.065341e+06
mean   1.213241e+01
std    1.312786e+00
min    8.000000e+00
25%    1.100000e+01
50%    1.200000e+01
75%    1.300000e+01
max    1.400000e+01

In [ ]:
data[(data['Отметка'] == "3") & (data['Код_предмета'] == "2") ].describe()

               Балл
count  1.556410e+06
mean   8.010509e+00
std    1.127489e+00
min    5.000000e+00
25%    7.000000e+00
50%    8.000000e+00
75%    9.000000e+00
max    1.000000e+01

In [ ]:
data['Отметка'].value_counts()

4    4212508
3    3470886
5    2090689
2    1200287
0     246976
Name: Отметка, dtype: int64

In [ ]:
data.loc[(data['Отметка'] == "4") & (data['Код_предмета'] == "2") & (data['Балл'] == "0")]

Empty DataFrame
Columns: [Класс, Код_предмета, ЛогинОО, Код_ученика, Балл, Отметка, Year]
Index: []

In [ ]:
data.loc[(data['Отметка'] == "3") & (data['Код_предмета'] == "2")]

        Класс Код_предмета      ЛогинОО Код_ученика  Балл Отметка  Year
2           4            2  sch01110001        4003     9       3  2019
4           4            2  sch01110001        4005     8       3  2019
7           4            2  sch01110001        4008     8       3  2019
9           4            2  sch01110001        4010     7       3  2019
13          4            2  sch01110001        4015     7       3  2019
...       ...          ...          ...         ...   ...     ...   ...
8587090     6            2  sch78186118       60119     8       3  2020
8587091     6            2  sch78186118       60121     9       3  2020
8587095     6            2  sch78186118       60125     9       3  2020
8587096     6            2  sch78186118       60126     7       3  2020
8587098     6            2  spo66160020       60001     8       3  2020

[1556410 rows x 7 columns]

In [ ]:
def get_slice(x):
  return x[3:5]

In [ ]:
get_slice([1,2,3,4,5,5])

[4, 5]

In [ ]:
data['region_code'] = data['ЛогинОО'].apply(get_slice)

In [ ]:
data.head(10000000000000000000000000000000000000000000000)

,Класс,Код_предмета,ЛогинОО,Код_ученика,Балл,Отметка,Year,region_code
0,4,2,sch01110001,4001,11,4,2019,01
1,4,2,sch01110001,4002,18,5,2019,01
2,4,2,sch01110001,4003,9,3,2019,01
3,4,2,sch01110001,4004,11,4,2019,01
4,4,2,sch01110001,4005,8,3,2019,01
...,...,...,...,...,...,...,...,...
11221344,5,1,sch87176023,50212,10,2,2020,87
11221345,5,1,sch87176023,50213,21,3,2020,87
11221346,5,1,sch87176023,50214,21,3,2020,87
11221347,5,1,sch87176023,50216,21,3,2020,87
11221348,5,1,sch87176023,50219,31,4,2020,87

In [ ]:
data.loc[(data['region_code'] == '90') ]

,Класс,Код_предмета,ЛогинОО,Код_ученика,Балл,Отметка,Year,region_code
1541580,4,2,sch90103001,4001,9,3,2019,90
1541581,4,2,sch90103001,4002,16,5,2019,90
1541582,4,2,sch90103001,4003,13,4,2019,90
1541583,4,2,sch90103001,4004,17,5,2019,90
1541584,4,2,sch90103001,4005,13,4,2019,90
...,...,...,...,...,...,...,...,...
11205966,5,1,sch90103046,50013,36,5,2020,90
11205967,5,1,sch90106012,50001,20,3,2020,90
11205968,5,1,sch90106012,50002,28,4,2020,90
11205969,5,1,sch90106012,50003,29,4,2020,90
11205970,5,1,sch90106012,50004,26,4,2020,90

In [ ]:
data[['region_code']] = data[['region_code']].apply(pd.to_numeric)

ValueError: ignored

In [ ]:
Контекстные_данные = pd.read_excel('/content/drive/MyDrive/Конт_данныеОО.xlsx')

In [ ]:
Контекстные_данные.head()

,Логин ОО,Где расположена образовательная организация?,Наименование населенного пункта,Размер населенного пункта,ОО является специальной (коррекционной),Количество обучающихся в ОО (в сумме по всем классам)
0,Логин ОО,NaN,NaN,NaN,NaN,NaN
1,sch05153602,"4. Населенный пункт сельского типа (село, хуто...",село Шумлелик,1. Менее 1 тыс. человек,Нет,207
2,sch05153601,"4. Населенный пункт сельского типа (село, хуто...",Червленные-буруны,2. 1–5 тыс. человек,Да,287
3,sch05153598,"4. Населенный пункт сельского типа (село, хуто...",Ортатюбе,3. 5–10 тыс. чел,Нет,110
4,sch05153594,"4. Населенный пункт сельского типа (село, хуто...",Кумли,1. Менее 1 тыс. человек,Нет,96

In [ ]:
Контекстные_данные['Размер населенного пункта'].unique()

array([nan, '1. Менее 1 тыс. человек', '2. 1–5 тыс. человек',
       '3. 5–10 тыс. чел', '6. 100–450 тыс. человек',
       '4. 10–50 тыс. человек', '5. 50–100 тыс. человек',
       '8. Более 680 тыс. человек', '7. 450–680 тыс. человек'],
      dtype=object)

In [ ]:
Контекстные_данные.rename(columns={'Логин ОО':'login', 
                      'Где расположена образовательная организация?':'location_type', 
                      'Наименование населенного пункта':'location', 
                      'Размер населенного пункта':'pop_size', 
                      'ОО является специальной (коррекционной)':'special_flg',
                      'Количество обучающихся в ОО (в сумме по всем классам)':'student_cnt'},
            inplace=True)

In [ ]:
Контекстные_данные = Контекстные_данные[1:]
#костыль

In [ ]:
Контекстные_данные.head()

,login,location_type,location,pop_size,special_flg,student_cnt
1,sch05153602,"4. Населенный пункт сельского типа (село, хуто...",село Шумлелик,1. Менее 1 тыс. человек,Нет,207
2,sch05153601,"4. Населенный пункт сельского типа (село, хуто...",Червленные-буруны,2. 1–5 тыс. человек,Да,287
3,sch05153598,"4. Населенный пункт сельского типа (село, хуто...",Ортатюбе,3. 5–10 тыс. чел,Нет,110
4,sch05153594,"4. Населенный пункт сельского типа (село, хуто...",Кумли,1. Менее 1 тыс. человек,Нет,96
5,sch05153592,"4. Населенный пункт сельского типа (село, хуто...",Карагас,2. 1–5 тыс. человек,Нет,220

In [ ]:
Контекстные_данные['special_flg'].value_counts()

Нет    35995
Да       795
нет      108
да         2
Name: special_flg, dtype: int64

In [ ]:
Контекстные_данные['special_flg'] = Контекстные_данные['special_flg'].str.upper()

In [ ]:
Контекстные_данные['special_flg'].value_counts()

НЕТ    36103
ДА       797
Name: special_flg, dtype: int64

In [ ]:
Контекстные_данные[Контекстные_данные['student_cnt']=="Руэм"].value_counts()

login        location_type                                                    location  pop_size             special_flg  student_cnt
sch12123065  4. Населенный пункт сельского типа (село, хутор, деревня и пр.)  Руэм      2. 1–5 тыс. человек  НЕТ          Руэм           1
dtype: int64

In [ ]:
Контекстные_данные[['student_cnt']] = Контекстные_данные[['student_cnt']].apply(pd.to_numeric)##количественные

ValueError: ignored

In [ ]:
ob = pd.read_excel('/content/drive/MyDrive/OBSchAYa.xlsx')

In [ ]:
ob.head(100)

,названиерегиона,регион,ввп,объекты
0,Республика Адыгея (Адыгея),1.0,309184.1,5.0
1,Республика Башкортостан,2.0,425161.0,11.0
2,Республика Бурятия,3.0,307558.8,42.0
3,Республика Алтай,4.0,283451.4,7.0
4,Республика Дагестан,5.0,239640.7,29.0
...,...,...,...,...
80,Ненецкий автономный округ (Архангельская область),83.0,5206287.1,2.0
81,Ханты-Мансийский автономный округ - Югра (Тюме...,86.0,1994630.3,1.0
82,Чукотский автономный округ,87.0,2404271.2,10.0
83,Ямало-Ненецкий автономный округ (Тюменская обл...,89.0,5072483.6,3.0
84,Город федерального значения Севастополь,92.0,295304.9,48.0

In [ ]:
ob.tail(30)

,названиерегиона,регион,ввп,объекты
55,Оренбургская область,56.0,538971.9,38.0
56,Орловская область,57.0,390170.2,67.0
57,Пензенская область,58.0,379820.4,36.0
58,Пермский край,59.0,541930.2,72.0
59,Псковская область,60.0,325659.6,55.0
60,Ростовская область,61.0,403949.1,44.0
61,Рязанская область,62.0,412845.1,74.0
62,Самарская область,63.0,505093.4,13.0
63,Саратовская область,64.0,358480.4,3.0
64,Сахалинская область,65.0,2059206.5,2.0
65,Свердловская область,66.0,588270.0,5.0
66,Смоленская область,67.0,386274.8,103.0
67,Тамбовская область,68.0,378455.8,35.0
68,Тверская область,69.0,391722.2,264.0
69,Томская область,70.0,518179.5,22.0
70,Тульская область,71.0,486544.2,15.0
71,Тюменская область,72.0,1934463.9,13.0
72,Ульяновская область,73.0,360112.2,11.0
73,Челябинская область,74.0,467537.3,14.0
74,Забайкальский край,75.0,402594.6,12.0
75,Ярославская область,76.0,495102.2,28.0
76,Город Москва столица Российской Федерации горо...,77.0,1567644.8,239.0
77,Город Санкт-Петербург город федерального значения,78.0,971158.0,115.0
78,Еврейская автономная область,79.0,400340.5,1.0
79,Республика Крым,82.0,270363.8,15.0
80,Ненецкий автономный округ (Архангельская область),83.0,5206287.1,2.0
81,Ханты-Мансийский автономный округ - Югра (Тюме...,86.0,1994630.3,1.0
82,Чукотский автономный округ,87.0,2404271.2,10.0
83,Ямало-Ненецкий автономный округ (Тюменская обл...,89.0,5072483.6,3.0
84,Город федерального значения Севастополь,92.0,295304.9,48.0

In [ ]:
ob[['регион']] = ob[['регион']].apply(pd.to_numeric)

In [ ]:
ob.tail(30)

,названиерегиона,регион,ввп,объекты
55,Оренбургская область,56.0,538971.9,38.0
56,Орловская область,57.0,390170.2,67.0
57,Пензенская область,58.0,379820.4,36.0
58,Пермский край,59.0,541930.2,72.0
59,Псковская область,60.0,325659.6,55.0
60,Ростовская область,61.0,403949.1,44.0
61,Рязанская область,62.0,412845.1,74.0
62,Самарская область,63.0,505093.4,13.0
63,Саратовская область,64.0,358480.4,3.0
64,Сахалинская область,65.0,2059206.5,2.0
65,Свердловская область,66.0,588270.0,5.0
66,Смоленская область,67.0,386274.8,103.0
67,Тамбовская область,68.0,378455.8,35.0
68,Тверская область,69.0,391722.2,264.0
69,Томская область,70.0,518179.5,22.0
70,Тульская область,71.0,486544.2,15.0
71,Тюменская область,72.0,1934463.9,13.0
72,Ульяновская область,73.0,360112.2,11.0
73,Челябинская область,74.0,467537.3,14.0
74,Забайкальский край,75.0,402594.6,12.0
75,Ярославская область,76.0,495102.2,28.0
76,Город Москва столица Российской Федерации горо...,77.0,1567644.8,239.0
77,Город Санкт-Петербург город федерального значения,78.0,971158.0,115.0
78,Еврейская автономная область,79.0,400340.5,1.0
79,Республика Крым,82.0,270363.8,15.0
80,Ненецкий автономный округ (Архангельская область),83.0,5206287.1,2.0
81,Ханты-Мансийский автономный округ - Югра (Тюме...,86.0,1994630.3,1.0
82,Чукотский автономный округ,87.0,2404271.2,10.0
83,Ямало-Ненецкий автономный округ (Тюменская обл...,89.0,5072483.6,3.0
84,Город федерального значения Севастополь,92.0,295304.9,48.0

In [ ]:
tr = pd.read_excel('/content/drive/MyDrive/трд1.xlsx')

In [ ]:
tr.head(100)

,Регион,Транспортная доступность,Ранг,Индекс транспортной доступности: 0 - 1,reg_num
0,Тверская обл.,18.01,2.0,0.59,69
1,Калужская обл.,17.55,3.0,0.58,40
2,Владимирская обл.,17.47,4.0,0.57,33
3,Рязанская обл.,17.34,5.0,0.57,62
4,Тульская обл.,17.06,6.0,0.56,71
...,...,...,...,...,...
81,Московская область,NaN,NaN,0.70,50
82,г. Москва,NaN,NaN,1.00,77
83,Республика Крым,NaN,NaN,0.35,82
84,Чукотский автономный округ,NaN,NaN,0.12,87
85,"ОУ, находящиеся за пределами РФ",NaN,NaN,0.34,90

In [ ]:
tr[['reg_num ']] = tr[['reg_num ']].apply(pd.to_numeric)

In [ ]:
tr.head(1000)

,Регион,Транспортная доступность,Ранг,Индекс транспортной доступности: 0 - 1,reg_num
0,Тверская обл.,18.01,2.0,0.59,69
1,Калужская обл.,17.55,3.0,0.58,40
2,Владимирская обл.,17.47,4.0,0.57,33
3,Рязанская обл.,17.34,5.0,0.57,62
4,Тульская обл.,17.06,6.0,0.56,71
...,...,...,...,...,...
81,Московская область,NaN,NaN,0.70,50
82,г. Москва,NaN,NaN,1.00,77
83,Республика Крым,NaN,NaN,0.35,82
84,Чукотский автономный округ,NaN,NaN,0.12,87
85,"ОУ, находящиеся за пределами РФ",NaN,NaN,0.34,90

In [ ]:
ob.rename(columns={'регион':'region_code',},
            inplace=True)
tr.rename(columns={'reg_num ':'region_code',},
            inplace=True)

In [ ]:
data_un = pd.merge(ob, tr, on='region_code', how='inner')

In [ ]:
data_un.head(100000000000)

,названиерегиона,region_code,ввп,объекты,Регион,Транспортная доступность,Ранг,Индекс транспортной доступности: 0 - 1
0,Республика Адыгея (Адыгея),1.0,309184.1,5.0,Респ. Адыгея,8.38,54.0,0.28
1,Республика Башкортостан,2.0,425161.0,11.0,Респ. Башкортостан,12.45,21.0,0.41
2,Республика Бурятия,3.0,307558.8,42.0,Респ. Бурятия,5.23,71.0,0.17
3,Республика Алтай,4.0,283451.4,7.0,Респ. Алтай,6.25,66.0,0.21
4,Республика Дагестан,5.0,239640.7,29.0,Респ. Дагестан,9.68,41.0,0.32
...,...,...,...,...,...,...,...,...
80,Ненецкий автономный округ (Архангельская область),83.0,5206287.1,2.0,Ненецкий АО,4.77,73.0,0.16
81,Ханты-Мансийский автономный округ - Югра (Тюме...,86.0,1994630.3,1.0,Ханты-Мансийский АО – Югра,6.81,65.0,0.22
82,Чукотский автономный округ,87.0,2404271.2,10.0,Чукотский автономный округ,NaN,NaN,0.12
83,Ямало-Ненецкий автономный округ (Тюменская обл...,89.0,5072483.6,3.0,Ямало-Ненецкий АО,4.74,74.0,0.16
84,Город федерального значения Севастополь,92.0,295304.9,48.0,Респ. Крым и Севастополь,10.68,37.0,0.35

In [ ]:
data_un = data_un.drop(['Регион','Ранг',	'Транспортная доступность'], axis=1)

In [ ]:

data_un.to_csv("data_un.csv")

In [ ]:
from google.colab import files
files.download('data_un.csv')

In [ ]:
do = pd.read_excel('/content/drive/MyDrive/Д_О.xlsx')
cho = pd.read_excel('/content/drive/MyDrive/С_Ч_О.xlsx')
chu = pd.read_excel('/content/drive/MyDrive/Ч_У.xlsx')
temr = pd.read_excel('/content/drive/MyDrive/Т_Р.xlsx')

In [ ]:
data_un_ = pd.merge(data_un, do, on='region_code', how='inner')
data_un__ = pd.merge(data_un_, cho, on='region_code', how='inner')
data_un___ = pd.merge(data_un__, chu, on='region_code', how='inner')
data_un____ = pd.merge(data_un___, temr, on='region_code', how='inner')

In [ ]:
data_un____.head(1000)

,названиерегиона,region_code,ввп,объекты,Индекс транспортной доступности: 0 - 1,Валовой коэффициент охвата дошкольным образованием,ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (1 – 4 классы),ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (5 – 9 классы),ЧИСЛЕННОСТЬУЧИТЕЛЕЙ (тысяч человек),№ температурной зоны
0,Республика Адыгея (Адыгея),1.0,309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
1,Республика Башкортостан,2.0,425161.0,11.0,0.41,75.3,18,18,33.9,3 ЗОНА
2,Республика Бурятия,3.0,307558.8,42.0,0.17,60.8,21,20,8.3,3 ЗОНА
3,Республика Алтай,4.0,283451.4,7.0,0.21,64.8,16,17,3.4,3 ЗОНА
4,Республика Дагестан,5.0,239640.7,29.0,0.32,32.0,18,17,39.9,1 ЗОНА
...,...,...,...,...,...,...,...,...,...,...
80,Ненецкий автономный округ (Архангельская область),83.0,5206287.1,2.0,0.16,82.6,15,16,0.5,ОСОБАЯ ЗОНА
81,Ханты-Мансийский автономный округ - Югра (Тюме...,86.0,1994630.3,1.0,0.22,76.0,24,23,13.3,4 ЗОНА
82,Чукотский автономный округ,87.0,2404271.2,10.0,0.12,88.1,14,15,0.6,ОСОБАЯ ЗОНА
83,Ямало-Ненецкий автономный округ (Тюменская обл...,89.0,5072483.6,3.0,0.16,82.6,23,22,5.1,4 ЗОНА
84,Город федерального значения Севастополь,92.0,295304.9,48.0,0.35,63.3,28,26,2.5,1 ЗОНА

In [ ]:
data_un____ = data_un____.drop(['Регион','Ранг',	'Транспортная доступность'], axis=1)

KeyError: ignored

In [ ]:
data_un____.head(1000)

,названиерегиона,region_code,ввп,объекты,Индекс транспортной доступности: 0 - 1,Валовой коэффициент охвата дошкольным образованием\n,ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (1 – 4 классы),ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (5 – 9 классы),ЧИСЛЕННОСТЬУЧИТЕЛЕЙ (тысяч человек),№ температурной зоны
0,Республика Адыгея (Адыгея),1.0,309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
1,Республика Башкортостан,2.0,425161.0,11.0,0.41,75.3,18,18,33.9,3 ЗОНА
2,Республика Бурятия,3.0,307558.8,42.0,0.17,60.8,21,20,8.3,3 ЗОНА
3,Республика Алтай,4.0,283451.4,7.0,0.21,64.8,16,17,3.4,3 ЗОНА
4,Республика Дагестан,5.0,239640.7,29.0,0.32,32.0,18,17,39.9,1 ЗОНА
...,...,...,...,...,...,...,...,...,...,...
80,Ненецкий автономный округ (Архангельская область),83.0,5206287.1,2.0,0.16,82.6,15,16,0.5,ОСОБАЯ ЗОНА
81,Ханты-Мансийский автономный округ - Югра (Тюме...,86.0,1994630.3,1.0,0.22,76.0,24,23,13.3,4 ЗОНА
82,Чукотский автономный округ,87.0,2404271.2,10.0,0.12,88.1,14,15,0.6,ОСОБАЯ ЗОНА
83,Ямало-Ненецкий автономный округ (Тюменская обл...,89.0,5072483.6,3.0,0.16,82.6,23,22,5.1,4 ЗОНА
84,Город федерального значения Севастополь,92.0,295304.9,48.0,0.35,63.3,28,26,2.5,1 ЗОНА

In [ ]:
data_un2 = pd.merge(data, data_un, on='region_code', how='inner')

In [ ]:
data_un2.head()

,Класс,Код_предмета,ЛогинОО,Код_ученика,Балл,Отметка,Year,region_code,названиерегиона,ввп,объекты,Индекс транспортной доступности: 0 - 1
0,4,2,sch01110001,4001,11,4,2019,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28
1,4,2,sch01110001,4002,18,5,2019,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28
2,4,2,sch01110001,4003,9,3,2019,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28
3,4,2,sch01110001,4004,11,4,2019,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28
4,4,2,sch01110001,4005,8,3,2019,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28

In [ ]:
data_un2.to_excel("output3.xlsx")

ValueError: ignored

In [ ]:
data_un2.head(10000000000000000000000000000000000000000000000)

In [ ]:
data_un2[data_un2['region_code']=="87"].value_counts()

NameError: ignored

In [ ]:
data4_5M = pd.read_csv('/content/drive/MyDrive/4_5_MA111.csv')

In [ ]:
data4_5M.head()

,Unnamed: 0,Класс,Код_предмета,ЛогинОО,Балл_2019,Отметка_2019,Балл_%_2019,Отметка_%_2019,Балл_2020,Отметка_2020,Балл_%_2020,Отметка_%_2020,Дельта_Балл,Дельта_Балл_%,Дельта_Отметка,Дельта_Отметка_%
0,0,4,2,sch01110001,11.83,3.97,59.13,79.42,12.18,4.05,60.92,80.92,0.35,1.79,0.08,1.50
1,1,4,2,sch01110003,13.37,4.06,66.83,81.15,10.09,3.57,50.43,71.43,-3.28,-16.40,-0.49,-9.72
2,2,4,2,sch01110004,12.90,4.22,64.49,84.41,9.27,3.42,46.34,68.36,-3.63,-18.15,-0.80,-16.05
3,3,4,2,sch01110005,9.61,3.43,48.04,68.70,9.71,3.36,48.57,67.14,0.10,0.53,-0.07,-1.56
4,4,4,2,sch01110006,12.77,4.23,63.85,84.62,9.53,3.40,47.67,68.00,-3.24,-16.18,-0.83,-16.62

In [ ]:
data4_5M['region_code'] = data4_5M['ЛогинОО'].apply(get_slice)

In [ ]:
data4_5M.head()

,Unnamed: 0,Класс,Код_предмета,ЛогинОО,Балл_2019,Отметка_2019,Балл_%_2019,Отметка_%_2019,Балл_2020,Отметка_2020,Балл_%_2020,Отметка_%_2020,Дельта_Балл,Дельта_Балл_%,Дельта_Отметка,Дельта_Отметка_%,region_code
0,0,4,2,sch01110001,11.83,3.97,59.13,79.42,12.18,4.05,60.92,80.92,0.35,1.79,0.08,1.50,01
1,1,4,2,sch01110003,13.37,4.06,66.83,81.15,10.09,3.57,50.43,71.43,-3.28,-16.40,-0.49,-9.72,01
2,2,4,2,sch01110004,12.90,4.22,64.49,84.41,9.27,3.42,46.34,68.36,-3.63,-18.15,-0.80,-16.05,01
3,3,4,2,sch01110005,9.61,3.43,48.04,68.70,9.71,3.36,48.57,67.14,0.10,0.53,-0.07,-1.56,01
4,4,4,2,sch01110006,12.77,4.23,63.85,84.62,9.53,3.40,47.67,68.00,-3.24,-16.18,-0.83,-16.62,01

In [ ]:
data4_5M[['region_code']] = data4_5M[['region_code']].apply(pd.to_numeric)

In [ ]:
data4_5M_un = pd.merge(data4_5M, data_un____, on='region_code', how='inner')

In [ ]:
# Сброс ограничений на количество выводимых рядов
#pd.set_option('display.max_rows', None)
 
# Сброс ограничений на число столбцов
#pd.set_option('display.max_columns', None)
 
# Сброс ограничений на количество символов в записи
#pd.set_option('display.max_colwidth', None)

In [ ]:
data4_5M_un.head(10000000000000000000000000000000000)

,Unnamed: 0,Класс,Код_предмета,ЛогинОО,Балл_2019,Отметка_2019,Балл_%_2019,Отметка_%_2019,Балл_2020,Отметка_2020,...,region_code,названиерегиона,ввп,объекты,Индекс транспортной доступности: 0 - 1,Валовой коэффициент охвата дошкольным образованием,ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (1 – 4 классы),ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (5 – 9 классы),ЧИСЛЕННОСТЬУЧИТЕЛЕЙ (тысяч человек),№ температурной зоны
0,0,4,2,sch01110001,11.83,3.97,59.13,79.42,12.18,4.05,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
1,1,4,2,sch01110003,13.37,4.06,66.83,81.15,10.09,3.57,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
2,2,4,2,sch01110004,12.90,4.22,64.49,84.41,9.27,3.42,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
3,3,4,2,sch01110005,9.61,3.43,48.04,68.70,9.71,3.36,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
4,4,4,2,sch01110006,12.77,4.23,63.85,84.62,9.53,3.40,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32623,32623,4,2,sch92122004,13.62,4.15,68.08,83.08,11.25,3.75,...,92,Город федерального значения Севастополь,295304.9,48.0,0.35,63.3,28,26,2.5,1 ЗОНА
32624,32624,4,2,sch92122007,13.38,4.31,66.92,86.15,15.11,4.56,...,92,Город федерального значения Севастополь,295304.9,48.0,0.35,63.3,28,26,2.5,1 ЗОНА
32625,32625,4,2,sch92122008,11.64,3.88,58.20,77.60,10.13,3.60,...,92,Город федерального значения Севастополь,295304.9,48.0,0.35,63.3,28,26,2.5,1 ЗОНА
32626,32626,4,2,sch92126001,14.07,4.45,70.33,88.95,11.75,3.95,...,92,Город федерального значения Севастополь,295304.9,48.0,0.35,63.3,28,26,2.5,1 ЗОНА
32627,32627,4,2,sch92126007,11.86,3.95,59.32,78.98,11.48,3.89,...,92,Город федерального значения Севастополь,295304.9,48.0,0.35,63.3,28,26,2.5,1 ЗОНА

In [ ]:
print(data4_5M_un.isna().sum())

Unnamed: 0                                            0
Класс                                                 0
Код_предмета                                          0
ЛогинОО                                               0
Балл_2019                                             0
Отметка_2019                                          0
Балл_%_2019                                           0
Отметка_%_2019                                        0
Балл_2020                                             0
Отметка_2020                                          0
Балл_%_2020                                           0
Отметка_%_2020                                        0
Дельта_Балл                                           0
Дельта_Балл_%                                         0
Дельта_Отметка                                        0
Дельта_Отметка_%                                      0
region_code                                           0
названиерегиона                                       0
ввп                                                   0
объекты                                               0
Индекс транспортной доступности: 0 - 1                0
Валовой коэффициент охвата дошкольным образованием    0
ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (1 – 4 классы)                0
ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (5 – 9 классы)                0
ЧИСЛЕННОСТЬУЧИТЕЛЕЙ (тысяч человек)                   0
№ температурной зоны                                  0
dtype: int64

In [ ]:
data5_6M = pd.read_csv('/content/drive/MyDrive/5_6_MA111.csv')

In [ ]:
data5_6M['region_code'] = data5_6M['ЛогинОО'].apply(get_slice)

In [ ]:
data5_6M[['region_code']] = data5_6M[['region_code']].apply(pd.to_numeric)

In [ ]:
data5_6M_un = pd.merge(data5_6M, data_un____, on='region_code', how='inner')

In [ ]:
data5_6M_un.head()

,Unnamed: 0,Класс,Код_предмета,ЛогинОО,Балл_2019,Отметка_2019,Балл_%_2019,Отметка_%_2019,Балл_2020,Отметка_2020,...,region_code,названиерегиона,ввп,объекты,Индекс транспортной доступности: 0 - 1,Валовой коэффициент охвата дошкольным образованием,ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (1 – 4 классы),ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (5 – 9 классы),ЧИСЛЕННОСТЬУЧИТЕЛЕЙ (тысяч человек),№ температурной зоны
0,0,5,2,sch01110001,8.91,3.26,44.53,65.28,8.78,3.16,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
1,1,5,2,sch01110003,10.53,3.61,52.63,72.11,9.90,3.49,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
2,2,5,2,sch01110004,11.59,3.73,57.96,74.69,8.16,3.03,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
3,3,5,2,sch01110005,11.73,3.80,58.67,76.00,10.68,3.55,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
4,4,5,2,sch01110006,7.67,3.08,38.33,61.67,12.17,3.92,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА

In [ ]:
print(data5_6M_un.isna().sum())

Unnamed: 0                                            0
Класс                                                 0
Код_предмета                                          0
ЛогинОО                                               0
Балл_2019                                             0
Отметка_2019                                          0
Балл_%_2019                                           0
Отметка_%_2019                                        0
Балл_2020                                             0
Отметка_2020                                          0
Балл_%_2020                                           0
Отметка_%_2020                                        0
Дельта_Балл                                           0
Дельта_Балл_%                                         0
Дельта_Отметка                                        0
Дельта_Отметка_%                                      0
region_code                                           0
названиерегиона                                       0
ввп                                                   0
объекты                                               0
Индекс транспортной доступности: 0 - 1                0
Валовой коэффициент охвата дошкольным образованием    0
ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (1 – 4 классы)                0
ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (5 – 9 классы)                0
ЧИСЛЕННОСТЬУЧИТЕЛЕЙ (тысяч человек)                   0
№ температурной зоны                                  0
dtype: int64

In [ ]:
data4_5R = pd.read_csv('/content/drive/MyDrive/4_5_PY111.csv')

In [ ]:
data4_5R['region_code'] = data4_5R['ЛогинОО'].apply(get_slice)

In [ ]:
data4_5R[['region_code']] = data4_5R[['region_code']].apply(pd.to_numeric)

In [ ]:
data4_5R_un = pd.merge(data4_5R, data_un____, on='region_code', how='inner')

In [ ]:
data4_5R_un.head()

,Unnamed: 0,Класс,Код_предмета,ЛогинОО,Балл_2019,Отметка_2019,Балл_%_2019,Отметка_%_2019,Балл_2020,Отметка_2020,...,region_code,названиерегиона,ввп,объекты,Индекс транспортной доступности: 0 - 1,Валовой коэффициент охвата дошкольным образованием,ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (1 – 4 классы),ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (5 – 9 классы),ЧИСЛЕННОСТЬУЧИТЕЛЕЙ (тысяч человек),№ температурной зоны
0,0,4,1,sch01110001,26.92,3.94,70.85,78.77,23.15,3.59,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
1,1,4,1,sch01110003,25.38,3.64,66.78,72.83,21.46,3.34,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
2,2,4,1,sch01110004,22.54,3.51,59.31,70.15,19.34,3.22,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
3,3,4,1,sch01110005,25.22,3.70,66.37,74.07,21.43,3.43,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА
4,4,4,1,sch01110006,25.42,3.83,66.89,76.67,18.17,3.08,...,1,Республика Адыгея (Адыгея),309184.1,5.0,0.28,67.7,22,20,3.6,1 ЗОНА

In [ ]:
print(data4_5R_un.isna().sum())

Unnamed: 0                                            0
Класс                                                 0
Код_предмета                                          0
ЛогинОО                                               0
Балл_2019                                             0
Отметка_2019                                          0
Балл_%_2019                                           0
Отметка_%_2019                                        0
Балл_2020                                             0
Отметка_2020                                          0
Балл_%_2020                                           0
Отметка_%_2020                                        0
Дельта_Балл                                           0
Дельта_Балл_%                                         0
Дельта_Отметка                                        0
Дельта_Отметка_%                                      0
region_code                                           0
названиерегиона                                       0
ввп                                                   0
объекты                                               0
Индекс транспортной доступности: 0 - 1                0
Валовой коэффициент охвата дошкольным образованием    0
ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (1 – 4 классы)                0
ЧИСЛЕННОСТЬ ОБУЧАЮЩИХСЯ (5 – 9 классы)                0
ЧИСЛЕННОСТЬУЧИТЕЛЕЙ (тысяч человек)                   0
№ температурной зоны                                  0
dtype: int64

In [ ]:
data5_6R = pd.read_csv('/content/drive/MyDrive/5_6_PY.csv')

In [ ]:
data5_6R['region_code'] = data5_6M['ЛогинОО'].apply(get_slice)

In [ ]:
data5_6R[['region_code']] = data5_6R[['region_code']].apply(pd.to_numeric)

In [ ]:
data5_6R_un = pd.merge(data5_6R, data_un____, on='region_code', how='inner')

In [ ]:
data4_5M_un.to_csv("data4_5M_un(4).csv")
data5_6M_un.to_csv("data5_6M_un(4).csv")
data4_5R_un.to_csv("data4_5R_un(4).csv")
data5_6R_un.to_csv("data5_6R_un(4).csv")

In [ ]:
from google.colab import files
files.download("data4_5M_un(4).csv")
files.download('data5_6R_un(4).csv')
files.download('data4_5R_un(4).csv')
files.download('data5_6M_un(4).csv')